# Python cache files
__pycache__/
*.pyc

# IntelliJ/PyCharm project files
*.iml
.directory
.idea/

# Sensitive config files
model/config.py

# Terraform sensitive files
terraform/hacklytics.pem
terraform/terraform.tfvars
terraform/variables.tf
